body, html {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

#navbar {
  width: 100%;
  position: fixed;
  background-color: #fff;
  border-bottom: 5px solid #111;
}

#title {
  font-size: 2em;
  text-align: center;
  margin-bottom: none;
}

#searchbar {
  width: 20%;
  height: 5%;
  margin-left: auto;
  margin-right: auto;
}

#searchbar {
  border: 0.5px solid #111;
  margin-bottom: 15px;
}

#search-icon {
  width: 5%;
  height: 5%;
  padding: 5px;
}

#input {
  position: absolute;
  border: none;
  width: 18%;
  padding-left: 20px;
  padding-top: 20px;
}
